{% extends 'base.html' %}
{% block content %}
        <header>
            <h1 class="header">
                {{recipeD2[0][0].title}}
            </h1>
            <h3 class="header2">
                {{recipeD2[0][0].subtitle}}
            </h3>
            <p class="textalligner"> <strong> Makes </strong> {{recipeD2[0][0].make}}<strong>Cooks In </strong>
            {{recipeD2[0][0].cook_time}}
                <strong>Difficulty </strong>
                {{recipeD2[0][0].difficulty}}
            <hr>
        </header>
        
            <p class="header2">
                <b>
                    INGREDIENTS</b>
            </p>
            <ul id="detailsUL">
                <img src="../{{recipeD2[0][0].image}}" alt="{{recipeD2[0][0].title}}">
                {% for item in recipeD2[1] %}
                <li>
                    {{item.item}}
                </li>
                {% endfor %}
            </ul>
            <hr>
            <p class="header2">
                <b>
                    METHOD</b>
            </p>
            <ol>
                {% for item in recipeD2[2] %}
                <li>
                    {{item.step}}
                </li>
                {% endfor %}
            </ol>
            <hr>
            <p class="header2">
                <b>
                    User Comments</b> </p>
                    <button onclick="seeComments('{{recipeD2[0][0].id}}')">See comments</button>
                    <!-- This is hidden  -->
                    <form action="post">
            <fieldset class="box">
                <legend>Enter a comment:</legend>
                <b>Name:</b> <br>
                <input type="text" name="name" id="name"> <br>
                <p><b>Comment:</b> <br> <textarea placeholder="Enter your comment here..." name="Comment" id="cmnt"
                        cols="50" rows="5"></textarea>
                </p>
                <input class="plus" alt="pic2" type="image" name="plus" src="../PlusSign.jpg" height="60" width="60" onclick="sendComment('{{recipeD2[0][0].id}}')">
            </fieldset>
            </form>
            <p class="Tbox">
                <b>All comments:</b>

            </p>
            <div class="box2" id="cmntcontainer">
                
            </div>
            <hr>
            <p class="header2">
                <b>
                    Sign-up to recive new recipes:</b>
            <fieldset class="box3">
                <legend>Personal Information</legend>
                <p><b>Name:</b>
                    <input type="text" name="name" id="name2">
                </p>
                <p> <b>Email:</b>
                    <input placeholder="xxxx@domain.com" type="email" name="name1" id="name1">
                </p>
            </fieldset>
            <form action="mailto:saud-40@hotmail.com" method="get">
                <fieldset class="box3">
                    <legend>Types of recipes</legend>
                    <label for="Breakfast">Breakfast</label>
                    <input type="radio" id="Breakfast" name="BF" value="BB">
                    <label for="Lunch">Lunch</label>
                    <input type="radio" id="Lunch" name="Lunch1" value="Lunch2">
                    <label for="Dinner">Dinner</label>
                    <input type="radio" id="Dinner" name="Dinner2" value="Dinner2">
                </fieldset>
                <br>
                <p class="box3"><button>Sign up</button></p>
            </form>
            <hr>
            <p class="header2">
                <b id ="testtt">
                    LINKS</b>
            </p>
            <p class="textalligner2">
                <a href="https://www.google.com/search?q=fish+fingers+recipe&start=10">Search for other fish fingers
                    recipes</a>
            </p>
       
{% endblock %}