@media only screen and (min-width: 768px) {
    body {
        max-width: 800px;
        background-image: url('silverware.jpg');
        background-repeat: repeat;
        background-size: 60%;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .header {
        margin: 30px 20px;
        color: #a4a400;
        border-radius: 20px;
        border: 2px solid #73ad21;
        outline: #73ad21;
        text-align: center;
        background-color: #f0f0f0;
        padding: 20px;
    }

    .header2 {
        margin: 20px 170px;
        padding: 20px 55px;
        color: #a4a400;
        border-radius: 20px;
        border: 2px solid #73ad21;
        outline: #73ad21;
        text-align: center;
        background-color: #f0f0f0;
        max-width: 100%;
    }

    .textalligner {
        text-align: center;
        margin: auto;
    }


    ul {
        column-count: 2;
        column-rule-style: solid;
        column-rule-width: 1px;
        column-rule-color: #a4a400;
        list-style-image: url(fish_icon_24.png);
        column-gap: 10%;
    }

    ol>ul {
        column-count: 2;

    }

    .box {
        display: none;
        max-width: 40%;
        margin: auto;

    }

    .box2 {
        text-align: left;
        max-width: 40%;
        margin: auto;
        background-color: #ffffa8;
    }

    .box3 {
        text-align: left;
        max-width: 25%;
        margin-left: 31%;
    }

    .Tbox {
        margin-left: 30%;
        text-align: left;

    }

    .textalligner2 {
        text-align: center;
        color: #73ad21;
        margin: auto;
    }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-left: #f0f0f0;
        border-top: #f0f0f0;
    }

    textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 11px;
        border-left: #f0f0f0;
        border-top: #f0f0f0;
    }

    .plus {
        max-width: 60px;
    }

    #divindex {
        column-count: 2;
        column-rule-style: solid;
        column-rule-width: 1px;
        column-rule-color: #a4a400;

    }


}

@media only screen and (min-width: 992px) {
    #divindex {
        column-count: 3;
        column-rule-style: solid;
        column-rule-width: 1px;
        column-rule-color: #a4a400;
    }

    body {
        max-width: 1024px;
        background-image: url('silverware.jpg');
        background-repeat: repeat;
        background-size: 30%;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .header {
        margin: 30px 100px;
        color: #a4a400;
        border-radius: 20px;
        border: 2px solid #73ad21;
        outline: #73ad21;
        text-align: center;
        background-color: #f0f0f0;
        padding: 20px;
    }

    .header2 {
        margin: 30px 300px;
        padding: 10px 20px;
        color: #a4a400;
        border-radius: 20px;
        border: 2px solid #73ad21;
        outline: #73ad21;
        text-align: center;
        background-color: #f0f0f0;
        max-width: 100%;
    }

    .textalligner {
        text-align: center;
        margin: auto;
    }


    ul {
        column-count: 3;
        column-rule-style: solid;
        column-rule-width: 1px;
        column-rule-color: #a4a400;
        list-style-image: url(fish_icon_24.png);
        column-gap: 10%;
    }

    ol>ul {
        column-count: 3;

    }

    .box {
        display: none;
        max-width: 40%;
        margin: auto;

    }

    .box2 {
        text-align: left;
        max-width: 40%;
        margin: auto;
        background-color: #ffffa8;
    }

    .box3 {
        text-align: left;
        max-width: 25%;
        margin: auto;
    }

    .Tbox {
        margin-left: 30%;
        text-align: left;

    }

    .textalligner2 {
        text-align: center;
        color: #73ad21;
        margin: auto;
    }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-left: #f0f0f0;
        border-top: #f0f0f0;
    }

    textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 11px;
        border-left: #f0f0f0;
        border-top: #f0f0f0;
    }

    .plus {
        max-width: 60px;
    }


}

@media only screen and (max-width: 768px) {
    body {
        max-width: 500px;
        background-image: url('silverware.jpg');
        background-repeat: repeat;
        background-size: 100%;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .header {
        margin: 30px 20px;
        color: #a4a400;
        border-radius: 20px;
        border: 2px solid #73ad21;
        outline: #73ad21;
        text-align: center;
        background-color: #f0f0f0;
        padding: 20px;
    }

    .header2 {
        margin: 20px 80px;
        padding: 20px 5px;
        color: #a4a400;
        border-radius: 20px;
        border: 2px solid #73ad21;
        outline: #73ad21;
        text-align: center;
        background-color: #f0f0f0;
        max-width: 100%;
    }

    .textalligner {
        text-align: left;
        margin: auto;
    }


    ul {
        column-count: 1;
        column-rule-style: solid;
        column-rule-width: 1px;
        column-rule-color: #a4a400;
        list-style-image: url(fish_icon_24.png);
        column-gap: 10%;
    }

    ol>ul {
        column-count: 2;

    }

    .box {
        display: none;
        max-width: fit-content;
        margin: auto;

    }

    .box2 {
        text-align: left;
        max-width: 90%;
        margin: auto;
        background-color: #ffffa8;
    }

    .box3 {
        text-align: left;
        max-width: 25%;
        margin-left: 31%;
    }

    .Tbox {
        margin-left: 30%;
        text-align: left;

    }

    .textalligner2 {
        text-align: center;
        color: #73ad21;
        margin: auto;
    }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-left: #f0f0f0;
        border-top: #f0f0f0;
    }

    textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 11px;
        border-left: #f0f0f0;
        border-top: #f0f0f0;
    }

    .plus {
        max-width: 60px;
    }

    #divindex {
        column-count: 1;
        column-rule-style: solid;
        column-rule-width: 1px;
        column-rule-color: #a4a400;

    }
}

img {
    display: flex;
    width: 100%;
    border-radius: 50%;
}

.center {
    margin: auto;
    width: 50%;
    padding: 40px;
    padding-top: 40px;
}

.bodyindex {
    background-image: url('silverware.jpg');
    background-repeat: repeat;
    background-size: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #a4a400;
    border-radius: 20px;
    border: 3px solid #73ad21;
    outline: #73ad21;
    text-align: center;
    background-color: #f0f0f0;

}